docker-build:
  runs-on: ubuntu-latest
  needs: [node-lint, python-lint] # run after linting
  steps:
    - uses: actions/checkout@v3

    - name: Build Node.js Docker image
      run: docker build -t my-node-service ./node-service

    - name: Build Python Docker image
      run: docker build -t my-python-service ./python-service

    - name: (Optional) Push Docker images
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
        docker tag my-node-service $DOCKER_USERNAME/my-node-service:latest
        docker push $DOCKER_USERNAME/my-node-service:latest
        docker tag my-python-service $DOCKER_USERNAME/my-python-service:latest
        docker push $DOCKER_USERNAME/my-python-service:latest
