- name: Build Node.js Docker image
  run: docker build -t my-node-service:${{ env.IMAGE_TAG }} ./node-service

- name: Build Python Docker image
  run: docker build -t my-python-service:${{ env.IMAGE_TAG }} ./python-service
