name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # ----------------------------
      # Checkout Repository
      # ----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ----------------------------
      # Python Setup
      # ----------------------------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        run: |
          cd python-service
          pip install -r requirements.txt
          pip install flake8

      - name: Lint Python Code
        run: |
          cd python-service
          flake8 .

      # ----------------------------
      # Node Setup
      # ----------------------------
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
